.pros {
    padding-top: 32px;
    padding-bottom: 48px;
}
    .pros__heading {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }

    .pros__body {
        margin-top: 24px;
    }
        .pros__item {
            margin-top: 20px;
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .pros__item:first-child {
            margin-top: 0;
        }
            .pros__item::before {
                content: "";
                flex-shrink: 0;
                width: 54px;
                height: 54px;
                background-color: #373737;
                background-size: 44px 44px;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%;
            }

            .pros__item--a::before { background-image: url("../images/pros-icons/pros-a@1x.jpg"); }
            .pros__item--b::before { background-image: url("../images/pros-icons/pros-b@1x.jpg"); }
            .pros__item--c::before { background-image: url("../images/pros-icons/pros-c@1x.jpg"); }
            .pros__item--d::before { background-image: url("../images/pros-icons/pros-d@1x.jpg"); }
            .pros__item--e::before { background-image: url("../images/pros-icons/pros-e@1x.jpg"); }
            .pros__item--f::before { background-image: url("../images/pros-icons/pros-f@1x.jpg"); }
            .pros__item--g::before { background-image: url("../images/pros-icons/pros-g@1x.jpg"); }
            .pros__item--h::before { background-image: url("../images/pros-icons/pros-h@1x.jpg"); }

            @media (min-resolution: 1.5dppx) {
                .pros__item--a::before { background-image: url("../images/pros-icons/pros-a@2x.jpg"); }
                .pros__item--b::before { background-image: url("../images/pros-icons/pros-b@2x.jpg"); }
                .pros__item--c::before { background-image: url("../images/pros-icons/pros-c@2x.jpg"); }
                .pros__item--d::before { background-image: url("../images/pros-icons/pros-d@2x.jpg"); }
                .pros__item--e::before { background-image: url("../images/pros-icons/pros-e@2x.jpg"); }
                .pros__item--f::before { background-image: url("../images/pros-icons/pros-f@2x.jpg"); }
                .pros__item--g::before { background-image: url("../images/pros-icons/pros-g@2x.jpg"); }
                .pros__item--h::before { background-image: url("../images/pros-icons/pros-h@2x.jpg"); }
            }


            .pros__label {
                font-size: 15px;
                line-height: 22px;
            }


@media (768px <= width) {

    .pros {
        /*padding-top: 32px;*/
        /*padding-bottom: 48px;*/
    }
        .pros__heading {
            /*font-weight: bold;*/
            /*font-size: 24px;*/
            /*line-height: 32px;*/
            /*text-align: center;*/
        }

        .pros__body {
            /*margin-top: 24px;*/
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            gap: 40px 0;
        }
            .pros__item {
                margin-top: 0;
                width: 50%;
                padding-left: 20px;
                padding-right: 20px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                /*margin-top: 20px;*/
                /*position: relative;*/
                /*display: flex;*/
                /*align-items: center;*/
                /*gap: 16px;*/
            }

            .pros__item:first-child {
                /*margin-top: 0;*/
            }
                .pros__item::before {
                    /*content: "";*/
                    /*flex-shrink: 0;*/
                    width: 70px;
                    height: 70px;
                    /*background-color: #373737;*/
                    background-size: 62px 62px;
                    /*background-repeat: no-repeat;*/
                    /*background-position: center center;*/
                    /*border-radius: 50%;*/
                }

                .pros__label {
                    margin-top: 5px;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
}


@media (992px <= width) {

    .pros {
        padding-top: 48px;
        padding-bottom: 64px;
    }
        .pros__heading {
            font-size: 30px;
            line-height: 34px;
        }

        .pros__body {
            margin-top: 32px;
            max-width: 930px;
            margin-left: auto;
            margin-right: auto;
            background-image: url("../images/pros-desktop.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            aspect-ratio: 930/563;
        }

        @media (min-resolution: 1.5dppx) {

            .pros__body {
                background-image: url("../images/pros-desktop@2x.jpg");
            }
        }
            .pros__item {
                display: none;
            }
}

